{% load static  %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <h4>Delicious - Resto</h4>

        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="" href="{% url 'home' %}">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                    
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>Menu</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                         <li>
                            <a href="#" >Menu category</a>
                        </li>
                        <li>
                            <a href="#" >Menu item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-table"></i>Tables</a>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-user-circle"></i>Customer</a>
                </li>
                
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-copy"></i>Pages</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}">Register</a>
                        </li>
                        <li>
                            <a href="#">Forget Password</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->